@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Fare Matrix";
}

<html>

<!-- ======= Fare Matrix Section ======= -->
<div class="container">
    <div class="row">
        <div class="col-sm" id="headfare">
            <h1 class="display-4" id="fmh1">FARE</h1>
            <p id="infofm">Base fare per Jeepney passenger.</p>
        </div>
    </div>
</div>

<!-- Table1 -->
<div>
    <h2 class="display-4" id="faretable">Dagupan City Downtown Loop Service</h2>
    <table class="rwd-table">
        <tbody>
            <tr>
                <th><center>LANDMARK</center></th>
                <th><center>KM DISTANCE</center></th>
                <th><center>REGULAR FARE</center></th>
                <th><center>DISCOUNT</center></th>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>DAGUPAN CITY HALL</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>0</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>-</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>-</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>UNIVERSITY OF LUZON</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>1</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>DEVELOPMENT BANK OF THE PHILIPPINES</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>1</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>LANDBANK - DAGUPAN</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>1</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>LYCEUM - NORTHWESTERN UNIVERSITY </center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>1</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
        </tbody>
    </table>
</div>
<!-- Table1 -->
<!-- Table2 -->
<div>
    <h2 class="display-4" id="faretable">Dagupan City Bonuan(Boquig) Loop Service</h2>
    <table class="rwd-table">
        <tbody>
            <tr>
                <th><center>LANDMARK</center></th>
                <th><center>KM DISTANCE</center></th>
                <th><center>REGULAR FARE</center></th>
                <th><center>DISCOUNT</center></th>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>DBP JEEPNEY STOP</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>0</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>-</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>-</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>NEPO MALL-DAGUPAN</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>1</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>DZRD RADIO STATION</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>1</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>DECENA GENERAL HOSPITAL<center />
                </td>
                <td data-th="KM DISTANCE">
                    <center>1</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>DAGUPAN CITY JAIL</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>2</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>15.50</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>12.50</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>TONDALIGAN BAYWALK</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>1</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Table2 -->
<!-- Table3 -->
<div>
    <h2 class="display-4" id="faretable">Dagupan City Mangaldan Loop Service</h2>
    <table class="rwd-table">
        <tbody>
            <tr>
                <th><center>LANDMARK</center></th>
                <th><center>KM DISTANCE</center></th>
                <th><center>REGULAR FARE</center></th>
                <th><center>DISCOUNT</center></th>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>DAGUPAN CITY PROPER</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>0</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>-</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>-</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>PHIL. VETERANS BANK</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>1</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>INTERNATIONAL COLLEGE OF ASIA</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>2</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>BOLOSAN ELEM. SCHOOL</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>3</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>GAJAH TUNGGAL</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>4</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>ANOLID MARKER</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>5</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>13.75</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>11.00</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>TONY'S LUMBER</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>6</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>15.50</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>12.50</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>TRANSCO</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>7</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>17.50</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>14.00</center>
                </td>
            <tr>
                <td data-th="LANDMARK">
                    <center>MANGALDAN TOWN PROPER</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>8</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>20.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>15.00</center>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Table3 -->
<!-- Table4 -->
<div>
    <h2 class="display-4" id="faretable">Dagupan City Sta. Barbara Loop Service</h2>
    <table class="rwd-table">
        <tbody>
            <tr>
                <th><center>LANDMARK</center></th>
                <th><center>KM DISTANCE</center></th>
                <th><center>REGULAR FARE</center></th>
                <th><center>DISCOUNT</center></th>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>DAGUPAN CITY HALL</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>0</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>-</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>-</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>NAZARETH GENERAL HOSPITAL</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>1</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>MALUED ARC</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>2</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>TM WILDCARE AQUA</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>3</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>WELCOME ARC</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>4</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>12.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>10.8</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>RAMOS BRIDGE</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>5</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>13.75</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>11.00</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>CROSSING/JOLLIBEE</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>6</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>15.50</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>12.50</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>HONDA CARS PANGASINAN</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>7</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>17.50</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>14.00</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>CROSSING BRGY. ABDUNAO ARC</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>8</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>19.25</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>15.25</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>KATHERINE’S FURNITURE</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>9</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>21.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>18.25</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>WELCOME ARC CALASIAO</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>10</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>22.75</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>19.75</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>COZY CAR WASH</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>11</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>24.50</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>21.00</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>INTERSECTION STA.BARBARA</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>12</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>26.50</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>22.50</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>STA.BARBARA TOWN PROPER</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>13</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>28.25</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>24.00</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>APO STEEL CORPORATION</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>14</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>30.00</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>25.50</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>BANAOANG CHILDRENS PARK</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>15</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>31.75</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>27.00</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>DIVINE TRAVEL</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>16</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>33.50</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>28.25</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>GINEBRA SAN MIGUEL INC.</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>17</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>35.50</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>28.35</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>J5 PLANT NURSERY</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>18</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>37.25</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>29.75</center>
                </td>
            </tr>
            <tr>
                <td data-th="LANDMARK">
                    <center>VILLA STA.BARBARA</center>
                </td>
                <td data-th="KM DISTANCE">
                    <center>20</center>
                </td>
                <td data-th="REGULAR FARE">
                    <center>40.75</center>
                </td>
                <td data-th="DISCOUNT">
                    <center>32.75</center>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Table4 -->
<!-- ======= End of Fare Matrix Section ======= -->

</html>

