@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Routes";
}

<!-- ======= Routes Section ======= -->
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="display-4" id="roh1">ROUTES</h1>
                <p id="inforou">Jeepney routes of Dagupan City.</p>
            </div>

            <div class="maprouter">
                <div class="gmap_canvas">
                <iframe class="gmap_iframe" width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Dagupan%20City&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                </div>
            </div>
        </div>

        <div>
        <h3 class="display-4" id="route">STA. BARBARA━━━━━DOWNTOWN━━━━━BONUAN(BOQUIG)━━━━━MANGALDAN</h3>
        </div>
    </div>
<!-- ======= End of Routes Section ======= -->
